.navbarContainer {
  width: 100%;
  min-height: 100px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logoContainer {
  width: 100px;
  height: 100%;
  background-image: url("../../assets/wcs_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.logoTextContainer {
  width: 120px;
  height: 100%;
  color: var(--white);
  font-family: var(--fontMontserrat);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.7rem;
}

.projectName {
  flex: 1;
  height: 100%;
  font-family: var(--fontHand);
  font-size: 1.5em;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  width: 240px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.loginLink {
  text-decoration: none;
}

.loginText,
.loggedUserText {
  color: var(--white);
  font-family: var(--fontMontserrat);
  font-size: 1em;
  margin-right: 5px;
}

.loginText:hover {
  color: var(--pink);
}

.loggedUserText {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loggedUserIcon {
  margin-bottom: 6px;
}

.logoutUserIcon {
  cursor: pointer;
}

.logoutUserIcon:hover {
  color: var(--pink);
}

.toastifyLogoutSuccess {
  background-color: var(--black);
  color: var(--white);
}

@media screen and (min-width: 1024px) {
  .projectName {
    font-size: 2em;
  }
}
