.loginPageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.loginCard {
  width: 300px;
  height: 400px;
  background-color: var(--white);
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.loginCardHeader {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.606) 0%,
      rgba(0, 0, 0, 0.682) 100%
    ),
    url("../assets/WorkBanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.loginCardBody {
  width: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.formContainer {
  width: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.loginInputs {
  width: 50%;
  height: 2.5rem;
  border: none;
  border-bottom: solid 1px var(--grey);
  font-family: var(--fontPoppins);
  font-size: 1rem;
}

.loginInputs::placeholder {
  color: var(--grey);
}

.loginInputs:focus {
  outline: none;
}

.loginButton {
  cursor: pointer;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.8rem 3.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  border: none;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.606) 0%,
    rgba(0, 0, 0, 0.682) 100%
  );
  border: solid 2px transparent;
}

.loginButton:hover {
  color: var(--pink);
  border: solid 2px var(--pink);
}

.noAccountText,
.signupLinkStyle {
  font-family: var(--fontPoppins);
  font-size: 0.9rem;
  color: var(--grey);
  margin-bottom: 1rem;
}

.signupLinkStyle:hover {
  color: var(--black);
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.toastifySuccess {
  background-color: black;
  color: white;
}

@media screen and (min-width: 768px) {
  .loginCard {
    width: 450px;
    height: 500px;
  }

  .loginCardHeader {
    margin-bottom: 4rem;
    font-size: 2.3rem;
  }

  .noAccountText,
  .signupLinkStyle {
    font-size: 1rem;
  }
}
