.stickyPostContainer {
  min-width: 250px;
  height: 250px;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stickyHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--fontPoppins);
  margin-bottom: 0.5rem;
}

.separator {
  width: 75%;
  height: 1px;
  background-color: var(--black);
  margin-bottom: 0.5rem;
}

.stickyUsername,
.stickyDate {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.stickyIcons {
  font-size: 1rem;
  margin-top: -2px;
}

.stickyTextContainer {
  width: 100%;
  height: 100%;
  flex: 1;
  word-wrap: break-word;
  overflow-y: auto;
}

.stickyText {
  font-family: var(--fontHand);
  font-size: 1.5rem;
}

.stickyFooter {
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 0.5rem;
}

.stickyButtonsContainer {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  background-color: var(--black);
  border-radius: 2rem;
  padding: 0.3rem;
}

.iconCircleContainer {
  width: 25px;
  height: 25px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.penIcon {
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
}

.penIcon:hover,
.crossIcon:hover {
  color: red;
}

.crossIcon {
  font-size: 1.3rem;
}

.editLink {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .stickyPostContainer {
    width: 300px;
    height: 350px;
  }

  .stickyUsername,
  .stickyDate {
    font-size: 1.2rem;
  }

  .stickyIcons {
    font-size: 1rem;
    margin-top: -2px;
  }

  .stickyText {
    font-size: 1.7rem;
  }
}
